<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <applicationInitialization doAppInitAfterRestart="true" />
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <!--
            <aspNetCore processPath="dotnet" arguments=".\bin\Debug\net5.0\Qrame.Web.TransactServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" hostingModel="outofprocess">
            -->
            <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" hostingModel="outofprocess">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>